@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&family=Inter:wght@300;400;700&display=swap");

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

ul {
  list-style: none;
}

header {
  display: flex;
  background-color: #fff;
  width: 100%;
  height: 90px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  color: #5969fa;
  line-height: 20px;
  text-align: center;
  margin-left: 24px;
}

header > .logo {
  font-size: 18px;
}

.union {
  margin-right: 24px;
  display: flex;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: 'Poppins', sans-serif;
  background-image: url(./images/Background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 90px 24px;
}

.intro {
  margin-left: 24px;
  margin-right: 24px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  width: 327px;
  font-size: 52px;
  line-height: 52px;
}

.intro-connect {
  width: 60%;
  padding-left: 15px;
  text-decoration: none;
}

.let-connet {
  text-decoration: none;
  color: #7f8cff;
}

.primary-text {
  font-weight: bolder;
  font-size: 47px;
  font-family: 'Poppins', serif;
  font-style: normal;
  line-height: 53px;
  color: #172b4d;
  padding-top: 26px;
}

.secondary-text {
  margin-left: 24px;
  font-family: Poppins, sans-serif;
  margin-right: 24px;
  padding-top: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-right: 3px;
  font-style: normal;
  text-align: justify;
  text-justify: auto;
  width: 90%;
  color: #344563;
}

.social-anchors {
  display: flex;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 16px;
  margin: 10px auto;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding-bottom: 0.7in;

}


.Skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;
  margin: 0 auto;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.languages-header {
  display: flex;
}

.bg-image {
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

.tonic {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-left: 10px;
}

.my-information {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.canopy {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-right: 10px;
}

.back-end-dev {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin-right: 10px;
}

.project-info {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 10px;
}

.tech-styles {
  background: #ebebff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 5px 10px;
  margin-right: 10px;
}

.techs {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 0;
}

.btn {
  border: 1px solid #396df2;
  background: #fff;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 5px 10px;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: #7f8cff;
  text-decoration: none;
  margin-left: 12px;
  margin-top: 15px;
}

.Markup-languages {
  display: flex;
}

.Languages {
  list-style-type: none;
}

.social-link {
  padding-left: 15px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 10px;
  margin-left: 17px;
}

h1 {
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 53px;
  color: #172b4d;
}

.h2 {
  color: #000;
  font-weight: 100;
  left: 76px;
  right: 12px;
  align-items: center;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 327px;
  border: 1px solid #dfe1e6;
  border-radius: 0 50px 0 0;
  padding: 10px 16px;
  margin: 10px auto;
  background: #fff;
}

.lets-connect {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 12px;
}

ul.social-link {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 12px;
}

.about-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 0;
}

.pic-temp1 {
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.work-info {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-top: 0;
}

.proj-info {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 10px;
  margin-top: 0;
}

.prog-lang {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 0;
  margin-top: 0;
}

.lang-styles {
  background: #ebebff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 5px 10px;
  margin-right: 10px;
}

.front-styles {
  margin-top: 5px;
  width: 98%;
  padding: 10px;
  background: #f7f7f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.btn:hover {
  background-color: #6070ff;
  color: white;
}

.btn:focus {
  background-color: #2230d2;
  color: white;
}

.about-my-self {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
}

.contact-me {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 0;
}

.professional-skills {
  width: 100%;
  padding: 0;
  margin: 0;
}

.lang {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.front-lang {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  margin-left: 0;
}

.frameworks {
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.frames {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.frames1 {
  display: flex;
  margin: 30px 0;
  justify-content: space-between;
  padding: 0;
}

.pic-elp {
  margin-right: 12px;
}

.separate-bar {
  width: 100%;
}

.skills-toggle {
  margin: 8px 0 12px;
  
}
.intro-text{
  font-weight: bolder;
  font-size: 40px;
  font-family: 'Poppins', serif;
  font-style: normal;
  color: white;
  padding-top: 50px;
  letter-spacing: 0.02em;
  text-align: center;
  /* padding-bottom: 0.3in; */
  width: 327px;
  line-height: 90px;

  
}
.contact{
  margin-left: 24px;
  font-family: Poppins, sans-serif;
  margin-right: 24px;
  padding-top: 10px;
  font-weight:10px;
  font-size: 20px;
  line-height: 24px;
  padding-right: 3px;
  font-style: normal;
  text-align: justify;
  text-justify: auto;
  width: 90%;
  color:#dfe1e6;
  text-align: center;
  padding-bottom: 0.4in;
  
}
.background {
  background-image: url("contact-me.png");
  width:330px;
  height: 600px;
  padding-top:0.1in;
  align-items: center;
  margin-right: 600px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-family: 'Poppins', sans-serif;
  background-size: 100% 100%;
  padding: 50px 24px;
  margin: 10px 490px;

  }
  .contact-blocks{
    display:flow-root;
    justify-content:left;
    align-self:flex-start;
    flex-direction: column;
    border-radius: 6px;
    color: #396df2;
    gap: 10px;
    padding: 90px,24px;
    border-radius: 6px;
    padding-bottom: 0.10in;
    
  }
  .contact-blocks input{
    padding-bottom: 10px;
    gap:80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 900px;
    width :84%;
    color: #396df2;
    
    }
    
.sub{
  border: 1px solid #396df2;
  background: #fff;
  /* border-radius: 6px; */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #396df2;
  padding: 5px 10px;
  left: 20%;
  border-radius: 10px;
  border-color: #dfe1e6;
 
}
.form-input{
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border-color: #dfe1e6;

}
#msg{
  height:170px;
  width:280px;
  margin-bottom: 10px;
  border-radius: 10px;
  border-color: #dfe1e6;
  padding-bottom: 0.10in;


}
